{% extends "base.html" %}

{% block header %}
<div class="blog-header">
<h1 class="blog-title">{{ post.title }}</h1>
<p class="lead blog-description">A post from {{ blag.title }}</p>
</div>
{% endblock %}

{% block main_column %}
    {{ post.text_html_db|safe }}
    <hr>
    <strong>Authors:</strong>
    <p aria-label="Author">
    {% include "parts/author_list.html" %}
    </p>
    <strong>Tags:</strong>
    <p aria-label="Tags">
    {% include "parts/tag_list.html" %}
    </p>
    {% if blag_owner(post.blag) %}
      <p><a href="{{ url_for("blag.edit_post", post_key=post.key.urlsafe()) }}">Edit post.</a></p>
    {% endif %}
{% endblock %}