{% extends "abstract/post_list.html" %}

{% block header %}
  <div class="blog-header">
    <h1 class="blog-title">{{ blag.title }}</h1>
    <p class="lead blog-description">
      {{ blag.text_html_db|safe }}
    </p>
    {% if blag_owner(blag) %}
    <h5>Admin options</h5>
    <ul>
      <li><a href="{{ url_for('blag.add_post', blag_key=blag.key.urlsafe())}}">Add post</a></li>
    </ul>
    {% endif %}
  </div>
{% endblock %}

{% block sidebar %}
  <div class="sidebar-module">
  <h4>Archives:</h4>
  <ul>
    {% for stat_item in blag_stats.stats %}
      <li><a href="{{
        url_for("blag.blag_view", blag_key=blag.key.urlsafe(), year=stat_item.year_month.year,
                month=stat_item.year_month.month) }}">
        {{ stat_item.year_month.strftime('%B %Y') }} {{ stat_item.number_of_posts }} posts
      </a> </li>
    {% endfor %}
  </ul>
  </div>
{% endblock sidebar %}