{% extends "form.html" %}

{% block styles_extra %}
  <link rel="stylesheet" href="{{ STATIC_URL }}vendor/simplemde/simplemde.min.css">
{% endblock styles_extra%}

{% block extra_scripts_bottom %}
  <script>
    var editedId = "{{ edited_object_key }}";
  </script>
  <script src="{{ STATIC_URL }}vendor/simplemde/simplemde.min.js"></script>
  <script src="{{ STATIC_URL }}js/attachmde.js"></script>
{% endblock extra_scripts_bottom %}