{% extends "base.html" %}

{% block main_column %}
  {% for post in posts %}
    {% include "parts/blag_post_short.html" %}
  {% endfor %}
{% endblock %}

{% block footer %}
  {% if prev_url or next_url %}
    <nav>
      <ul class="pager">
        <li class="previous {% if not prev_url %}disabled{% endif %}"><a href="{{ prev_url }}"><span aria-hidden="true">&larr;</span> Previous posts</a></li>
        <li class="next {% if not next_url %}disabled{% endif %}"><a href="{{ next_url }}">Next posts <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>
  {% endif %}
{% endblock footer %}

{% block sidebar %}{% endblock sidebar %}