<article class="blog-post">
<header class="blog-header">
    <h1 class="blog-title">{{ post.title }}</h1>
    <p class="blog-post-meta">{{ post.create_date.date().isoformat() }} by {% include "parts/author_list.html"  %}</p>
</header>
{{ post.text_html_db|safe }}
<footer>
  <strong>Created at:</strong> {{ post.create_date.isoformat() }}
  <p> <strong>Tags:</strong>
  {% include "parts/tag_list.html" %}
  </p>
  {% if blag_owner(post.blag) %}
    <p><a href="{{ url_for("blag.edit_post", post_key=post.key.urlsafe()) }}">Edit post.</a></p>
  {% endif %}
</footer>
</article>
