{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="Jacek Bzdak">
{#    <link rel="icon" href="../../favicon.ico">#}

    <title>{% block title %}Blog{% endblock title %}</title>

    {% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="{{ config.STATIC_URL }}css/vendor/blog.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block styles_extra %} {% endblock styles_extra%}
    {% endblock styles %}
  </head>

  <body>
    {% block body %}
    {% block nav %}
        {% include "navbar.html" %}
    {% endblock nav %}

    <div class="container">

      {% block header %}
      <div class="blog-header">
        <h1 class="blog-title">A simple Blog Engine</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>
      {% endblock %}
      {% block contents %}
      <div class="row">
        <div class="col-sm-8 blog-main">

          {% block main_column %}
              A list of blogs will be here someday.
          {% endblock main_column %}
        </div><!-- /.blog-main -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        {% block sidebar %}
        {% endblock sidebar %}
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
      {% endblock contents %}

    </div><!-- /.container -->

    <footer class="blog-footer">
      {% block footer %}
      <p>
        <a href="#">Back to top</a>
      </p>
      {% endblock footer %}
    </footer>

    {% endblock body %}

    {% block scripts_bottom %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>
    {% block extra_scripts_bottom %}{% endblock extra_scripts_bottom %}
    {% endblock scripts_bottom %}
  </body>
</html>
