{% extends "base.html" %}

{% block main_column %}
  <p>Probably <small>not</small> the best blogging platform in
the world </p>
  <p>
    To start blogging register or login (link is at the top
    navbar).
  </p>
  <p>Just here to read: select blog from the sidebar!</p>


{% endblock %}
{% block sidebar %}
<div class="sidebar-module">
  <h4>Last updated blogs:</h4>
  <ul>
    {% for blag in blags %}
      <li><a
        href="{{ url_for("blag.blag_view", blag_key=blag.key.urlsafe() )}}"
        title="{{ blag.text_md }}"
        data-toggle="tooltip"

      >
        {{ blag.title }}
      </a> </li>
    {% else %}
      <li>Looks like there are no blogs, maybe
        <a href="{{ url_for("blag.add_blag") }}">create one?</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}