<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <ul class="nav navbar-nav">
      {% block nav_pre %}
      <li><a class="blog-nav-item active" href="/">Home</a></li>
      {% endblock nav_pre %}
      {% block nav_extra %}

      {% endblock nav_extra %}
      {% block nav_login %}
      {% if user.is_anonymous %}
        <li><a class="blog-nav-item" href="{{ url_for("auth.login") }}">Login</a></li>
        <li><a class="blog-nav-item" href="{{ url_for("auth.register") }}">Register</a></li>
      {% else %}
        <li class="dropdown">
        <a href="#" class="blog-nav-item dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Your Blogs <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
        {% for blag in user_blags %}
            <li><a href="{{ url_for("blag.blag_view", blag_key=blag.key.urlsafe()) }}">{{ blag.title | truncate(15, True) }}</a> </li>
        {% else %}
            <li><p>Your blogs will be here.</p></li>
        {% endfor %}
        <li role="separator" class="divider"></li>
        <li><a href="{{ url_for("blag.add_blag") }}">Add Blog</a></li>
        </ul>
        </li>
      <li class="dropdown">
        <a href="#" class="blog-nav-item dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Your account <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a id="logout-link" class="blog-nav-item" href="{{ url_for("auth.logout") }}">Logout</a></li>
        </ul>
        </li>
      {% endif %}
      {% endblock %}
      </ul>
    </nav>
  </div>
</div>