{% extends "base.html" %}

{% block header %}
<div class="blog-header">
<h1 class="blog-title">{{ page_title }}</h1>
{% if page_description %}
<p class="lead blog-description">{{ page_description }}</p>
{% endif %}
</div>
{% endblock %}

{% block main_column %}
    {{ page_contents }}
{% endblock %}